<div id="timeline-container">

  <div class="container">
    <div class="row">

      <header class="col-md-12 mt-5 mb-5">
        <div class="text-center">
          <h1>Timeline</h1>
        </div>
      </header>

      <main class="col-md-12 mb-5">
        <div class="row">

          <section class="col-md-6 offset-md-3 text-center mb-5">
            <div class="form-group">
              <label>Elegí el
                <strong>año</strong> para ver los
                <strong>feriados</strong>
              </label>
              <select class="form-control" [(ngModel)]="year" (change)="getHolidays()">
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
              </select>
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
              {{errorMessage}}
            </div>
          </section>

        </div>
        
        <app-timeline [timelineData]="timelineData"></app-timeline>

      </main>

    </div>
  </div>

  <section>

  </section>

</div>