<section class="text-center">

  <div class="spinner">
    <i class="fas fa-spinner fa-spin fa-7x" *ngIf="loading"></i>
  </div>

  <div id="timeline"></div>

</section>


<div class="alert alert-info" role="alert" *ngIf="informationMessage">
  {{informationMessage}}
</div>