/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Oswald", sans-serif;
}

label {
  font-size: 18px;
}

.form-control:focus {
  border-color: #f2727f !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 114, 127, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 114, 127, 0.6) !important;
}

.fa-spinner {
  color: #f2727f;
}

.alert-info {
  background-color: #568CB8 !important;
  color: white;
}

/*Vis styles*/

.vis-time-axis .vis-grid.vis-saturday, .vis-time-axis .vis-grid.vis-sunday {
  background: #fb8553;
}

.vis-time-axis .vis-text.vis-saturday, .vis-time-axis .vis-text.vis-sunday {
  color: white;
}

.vis-time-axis .vis-grid.vis-tuesday, .vis-time-axis .vis-grid.vis-monday, .vis-time-axis .vis-grid.vis-wednesday, .vis-time-axis .vis-grid.vis-thursday, .vis-time-axis .vis-grid.vis-friday {
  background: #dbdbdb;
}

.vis-time-axis .vis-text.vis-tuesday, .vis-time-axis .vis-text.vis-monday, .vis-time-axis .vis-text.vis-wednesday, .vis-time-axis .vis-text.vis-thursday, .vis-time-axis .vis-text.vis-friday {
  color: black;
}

.vis-item {
  border-color: #f8b195;
  background-color: #568cb8;
  color: black;
  border-radius: 5px;
}